.datas{
    display: flex;
    gap: 2em;
    margin: 2em 4em 5em 4em;
    align-items: center;
}

.datas__imagem{
    width: 60vw;
    height: 60vh;
    background-image: url("../img/imagem__data.svg");
    border-radius: 16px;
    background-position: center;
    background-size: cover;
}

.datas__imagem.experiencia2, .datas__imagem.experiencia3, .datas__imagem.experiencia4{
    background-image: none;
}

.datas__imagem.experiencia2{
    background-image: url("../img/imagem_experiencia2.svg");
}

.datas__imagem.experiencia3{
    background-image: url("../img/imagem_experiencia3.svg");
}

.datas__imagem.experiencia4{
    background-image: url("../img/imagem_experiencia4.svg");
}

.datas__descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.datas__descricao.experiencia{
    align-items: flex-start;
    text-align: start;
    width: 40vw;
}

.descricao__titulo{
    font-size: 32px;
    padding: 1em;
}

.descricao__titulo.experiencia{
    padding: 1em 0;
}

.descricao__texto{
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.descricao__botao{
    display: flex;
    background-color: var(--primaria-roxo);
    box-shadow: 4px 4px 0px #444444;
    border-radius: 16px;
    width: 50vh;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    gap: 16px;
}

.descricao__botao:hover{
    background: #519EC5;
}

@media screen and (max-width: 768px) {
    .datas{
        flex-direction: column;
    }

    .datas__imagem{
        width: 80vw;
    }

    .datas__descricao.experiencia{
        width: 70vw;
        text-align: center;
    }

    .descricao__titulo.experiencia{
        align-self: center;
        padding: 0.5em 0;
    }

    .datas.meio{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 425px) {
    .datas{
        margin: 1em;
    }
    
    .datas__imagem{
        width: 90vw;
    }

    .descricao__titulo{
        font-size: 32px;
        padding: 1em 0;
    }
}
